* {
    border: none;
    min-height: 0;
    font-family: "JetBrains Nerd Font Mono";
    font-weight: 500;
    font-size: 12px; /* Reduced font size for a smaller bar */
    padding: 0;
}

window#waybar {
    background: #1f1c27;
    border: 2px solid #b6a0ff;
    border-radius: 4px;
}

tooltip {
    background-color: #1f1c27;
    border: 2px solid #e9e4ff;
    font-size: 12px; /* Adjusted font size for tooltips */
}

#cpu,
#memory,
#temperature,
#pulseaudio,
#network,
#battery {
    margin: 4px 4px 4px 0px; /* Adjusted margins for a smaller bar */
    padding: 1px 6px; /* Adjusted padding for a smaller bar */
    border-radius: 4px;
}

#workspaces {
    margin: 4px 0px 4px 4px; /* Adjusted margins for a smaller bar */
    border-radius: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 1px 3px; /* Adjusted padding for a smaller bar */
    color: #b6a0ff;
    background-color: #353146;
    border: 2px solid #b6a0ff;
    border-radius: 4px;
    margin-right: 2px;
}

#workspaces button.active {
    color: #1f1c27;
    background-color: #b6a0ff;
}

#workspaces button.urgent {
    background-color: #e542c0;
    color: #1f1c27;
    border: 2px solid #e542c0;
}

#cpu,
#memory,
#temperature,
#pulseaudio,
#network,
#battery {
    background-color: #353146;
    border: 2px solid #b6a0ff;
    color: #b6a0ff;
}

#cpu.critical,
#memory.critical,
#temperature.critical {
    color: #e542c0;
    border: 2px solid #e542c0;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #e542c0;
    border: 2px solid #e542c0;
}
