/* Generic Waybar styling */
* {
    border: none;
    border-radius: 0;
    font-family: Inter Light;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(61, 53, 64, 0.8); /* Translucent background */
    color: #a678d3;
    transition-property: background-color;
    transition-duration: .5s;
}
#workspaces {
}

#workspaces button.active {
    background-color: #8ec07c;
    padding: 0 15px 0 15px;
    color: #282828;
}

.modules-left {
    padding-left: 20px;
    padding-right: 20px;
}

.modules-right {
    padding-right: 20px;
    padding-left: 20px;
}

.modules-center {
    background-color: #282828;
}

#pulseaudio, #network, #cpu, #memory, #temperature, #clock, #window {
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    color: inherit;
    font-weight: 600;
    border: none;
}

#clock {
    font-size: 14px;
}
